
%h1 Listing portfolios
%b Google
%b Real world Problem to solve
%br

Aggregate feedback & reviews from multiple social websites like yelp, facebook, twitter, google Í places and others. In addition to aggregating, also provide insights and suggestions on the aggregated information.
%br

=link_to "www.google.com"

    