<!DOCTYPE html>
<html>
  <head>
    <meta carrier='text/html; charset=UTF-8' http-equiv='carrier-Type' />
  </head>
  <body>
    <h1>Resume from  <%= @carrier.first_name %></h1>
    <p>
      Resume:  <%= @carrier.first_name %>
     
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>